<footer>
 <div class="row">
     <div class="small-12 columns">
       <ul class="menu">
         <li><a href=" https://facartes.uniandes.edu.co">Facultad de Artes y Humanidades</a></li>
         <li><a href="https://arte.uniandes.edu.co">Departamento de Arte</a></li>
         <li><a href="http://registro.uniandes.edu.co/">Admisiones y Registro</a></li>
         <li><a href="https://eventos.uniandes.edu.co/">Agenda</a></li>
         <li><a href="https://apoyofinanciero.uniandes.edu.co/index.php/es/">Apoyo Financiero</a></li>
         <li><a href="https://biblioteca.uniandes.edu.co/index.php?lang=es">Biblioteca</a></li>
         <li><a href="http://correo.uniandes.edu.co/">Correo</a></li>
         <li><a href="http://egresados.uniandes.edu.co/">Egresados</a></li>
         <li><a href="http://secretariageneral.uniandes.edu.co/index.php/es/">Normas</a></li>
         <li><a href="http://planeacion.uniandes.edu.co/">Planeación</a></li>
         <li><a href="http://sicuaplus.uniandes.edu.co/">Sicua</a></li>
       </ul>
     </div>
   </div>
 <div class="row">
   <div class="small-12 medium-6 columns align-right">
     <img class="footer-logo" src="{{ asset "img/uniandes-colombia-black.svg" }}"/>
   </div>
   <div class="small-12 medium-6 columns">
     <div class="row">
       <div class="columns small-12">
         <ul>
           <li class="contact-info">Universidad de los Andes Calle 19A Nº 1 - 37 Este Bloque Ne</li>
           <li class="contact-info">PBX 339 4949 - 339 4999 Extensión 2540</li>
           <li class="contact-info">Línea directa 3324537</li>
         </ul>
       </div>
     </div>
     <div class="row">
       <div class="columns small-12">
         <ul class="legal-info">
           <li>Universidad de los Andes | Vigilada MinEducación</li>
           <li>Reconocimiento como Universidad: Decreto 1297 del 30 de mayo de 1964.</li>
           <li>Reconocimiento personería jurídica: Resolución 28 del 23 de febrero de 1949 MinJusticia.</li>
         </ul>

         <br>
       </div>
     </div>

   </div>
 </div>
</footer>
