<header class="subnav-hero-section">
  <h1 class="subnav-hero-headline">{{@blog.title}}</h1>

  <ul class="subnav-hero-subnav">
    <li><a href="#" class="is-active">Programa</a></li>
    <li><a href="#">Proyectos</a></li>
    <li><a href="#">Staff</a></li>
    <li><a href="#">Laboratorio</a></li>
    <li><a href="#">Recursos</a></li>
    <li><a href="#">
      <img src="{{@blog.logo}}" alt="">
    </a></li>

  </ul>
</header>
