@font-face {
  font-family: 'raleaway-reg';
  src: url(../fonts/raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: 'raleaway-bold';
  src: url(../fonts/raleway/Raleway-Bold.ttf);
}
@font-face {
  font-family: 'raleaway-light';
  src: url(assets/fonts/raleway/Raleway-Light.ttf);
}

@font-face {
  font-family: 'raleaway-italic';
  src: url(../fonts/raleway/Raleway-Italic.ttf);
}
